<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pong</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
</head>
<body>   
    <div class="score" id="score1">0</div>
    <div class="score" id="score2">0</div>
    <div class="paddle" id="paddle1"></div>
    <div class="paddle" id="paddle2"></div>
    <div id="ball"></div>
    <div id="net"></div>
</body>
<script>
    console.log('<%=nsp%>');
    var socket = io('/<%=nsp%>');
    $('body').click(function() {
        socket.emit('click');
    })
    socket.on('clicked', function() {
        alert('hey');
    })
    socket.on('serverFull', function() {
        window.location.href = '/';
    })
</script>
</html>